<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.js Navigation Menu</title>

    <style>

    </style>

</head>
<body>
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input id="modal_produit"type="text"  value="" placeholder="Produit" name="produit">
            <input id="modal_prix" type="number" value="" placeholder="Prix" name="Prix">
        </div>
        <div class="modal-footer">
          <button type="button" v-model="add" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button"  v-model="add"  data-dismiss="modal" class="btn btn-primary">Ajouter </button>
        </div>
      </div>
    </div>
  </div>

<div id="main">
    <div>
    <h2 style="text-align:center;">Personnes:</h2>
     <ul class="nav justify-content-center">
        <li v-for="personne in personnes" class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
              <p v-if="personne.id == activeUtilisateur" ><b>{{ personne.nom }}</b></p>
              <p v-else v-on:click="activeUtilisateur = personne.id" >{{ personne.nom }}</p>
            </a>
        </li>
      </ul>

      <h2 style="text-align:center;">Comptes:</h2>
      <ul class="nav justify-content-center">
         <li v-for="compte in comptes" class="nav-item">
            <div v-for="idUtilisateur in compte.utilisateurs">

                <a v-if="activeUtilisateur == idUtilisateur" class="nav-link active" v-on:click="activeCompte =compte.id" aria-current="page" href="#">{{ compte.nom }}</a>
            </div> 
        </li>
       </ul>
    </div>
    <div id="printedCompte" v-if="activeCompte != 'none'">
        <div v-for="idUtilisateur in comptes[activeCompte].utilisateurs" v-if="activeUtilisateur == idUtilisateur">
      <h2 style="text-align:center;"><b>{{comptes[activeCompte].nom}}</b></h2>
        <ul class="nav justify-content-center">

        <h2 style="text-align:center;">Utilisateurs:</h2>
            <ul class="nav justify-content-center">
                <li v-for="idUtilisateur in comptes[activeCompte].utilisateurs" class="nav-item">
                  <div class="nav-link active" aria-current="page" href="#">{{ personnes[idUtilisateur].nom }}</div>
                </li>
              </ul>
          </ul>
          <h2 style="text-align:center;">dépenses:</h2>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
            Ajouter
          </button>
     
          <ul class="nav justify-content-center">
              <li v-for="depence in comptes[activeCompte].depences" class="nav-item">
                <div v-if="depence.deleted==false">
                    <div class="nav-link active" aria-current="page" href="#">{{ personnes[depence.utilisateur].nom }}</div>
                    <div class="nav-link active" aria-current="page" href="#">à acheter: {{ depence.produit }}</div>
                    <div class="nav-link active" aria-current="page" href="#">prix: {{ depence.prix }}€</div>
                    <button v-if="depence.utilisateur ==activeUtilisateur" type="button" class="btn btn-success" @click="remove(depence)">
                        Retirer
                      </button>
                </div>
              </li>
            </ul>
        </ul>
    </div>

      

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
<script>

var demo = new Vue({

	
	el: '#main',

	
	data: {
        activeUtilisateur:0,
        activeCompte:"none",
        personnes:
            [
                {
                    "id":0,
                    "nom": "Romain",
                },
                {
                    "id":1,
                    "nom": "Alain"
                },
                {
                    "id":2,
                    "nom": "Marine"
                },
                {
                    "id":3,
                    "nom": "Claire"
                },
                {
                    "id":4,
                    "nom": "Antoine"
                },
                {
                    "id":5,
                    "nom": "Noémie"
                },
            ],
        comptes:
        [
            {
                "id":0,
                "nom":"Vacances à la plage",
                "utilisateurs":[2,4,5],
                "depences":[
                    {
                        "id":0,
                        "utilisateur":2,
                        "produit":"eau",
                        "prix":3,
                        "deleted":true,
                    },
                    {
                        "id":1,
                        "utilisateur":2,
                        "produit":"bierre",
                        "prix":15,
                        "deleted":false,
                    },
                    {
                        "id":2,
                        "utilisateur":4,
                        "produit":"saucisson",
                        "prix":10,
                        "deleted":false,
                    },
                    {
                        "id":3,
                        "utilisateur":4,
                        "produit":"gateau",
                        "prix":6,
                        "deleted":false,
                    },
                    {
                        "id":4,
                        "utilisateur":5,
                        "produit":"viande",
                        "prix":20,
                        "deleted":false,
                    },
                ]
            },
            {
                "id":1,
                "nom":"Compte de la maison",
                "utilisateurs":[0],
                "depences":[
                    {
                        "id":0,
                        "utilisateur":0,
                        "produit":"courses",
                        "prix":20,
                        "deleted":false,
                    },
                    {
                        "id":1,
                        "utilisateur":0,
                        "produit":"marché",
                        "prix":10,
                        "deleted":false,
                    },
                ]
            },
        ]
	},

	methods: {

        add:function(){
           var produit= document.getElementById('modal_produit').value;
           var prix= document.getElementById('modal_prix').value;
           console.log("coucou");
           comptes[activeCompte].depences+={"utilisateur":activeUtilisateur,"produit":produit,"prix":prix};
           document.getElementById('modal_produit').value="";
           document.getElementById('modal_prix').value="";
        },
        cancel:function(){
            document.getElementById('modal_produit').value="";
            document.getElementById('modal_prix').value="";
        },
        remove:function(item){
            this.comptes[this.activeCompte].depences[item.id].deleted=true;
        },


    },
    computed:{

    }
});
</script>
</body>
</html>

